<!DOCTYPE html>
<html lang="en-US" class="no-js">



<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

    <meta name="viewport" content="width=device-width">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link rel="pingback" href="xmlrpc.php">
    <title>Quattro Black &#8211; Just another Quattro Sites site</title>
    <link rel="stylesheet" href="~/Content/plugins/slick.css" />
    <link rel="stylesheet" href="~/Content/plugins/slick-theme.css" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Muli%3A400%2C700%7CPoppins%3A400%2C600%2C700%7CPoppins%3A600%2C800%2C700%2C500&amp;subset=" />
    <style type="text/css" data-type="vc_shortcodes-custom-css">
        .vc_custom_1574427412303 {
            background: rgba(0, 0, 0, 0.9) url(~/PublicFront/wp-content/uploads/sites/3/2019/11/269b723.jpg?id=1456) !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            *background-color: rgb(0, 0, 0) !important;
        }

        .vc_custom_1574429827645 {
            background-color: #050505 !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }

        .vc_custom_1574427435980 {
            background: rgba(0, 0, 0, 0.9) url(https://quattro.true-emotions.studio/black/~/PublicFront/wp-content/uploads/sites/3/2019/11/269.jpg?id=1456) !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            *background-color: rgb(0, 0, 0) !important;
        }

        .vc_custom_1574429858156 {
            margin-right: -15px !important;
            padding-bottom: 185px !important;
            background-color: #050505 !important;
        }

        .vc_custom_1550303735668 {
            margin-right: 0px !important;
            margin-left: 0px !important;
        }

        .vc_custom_1574427545371 {
            background: rgba(0, 0, 0, 0.9) url(https://quattro.true-emotions.studio/black/PublicFront/wp-content/uploads/sites/3/2019/11/269.jpg?id=1456) !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            *background-color: rgb(0, 0, 0) !important;
        }

        .vc_custom_1574429902766 {
            padding-bottom: 70px !important;
            background: rgba(5, 5, 5, 0.97) url(https://quattro.true-emotions.studio/black/PublicFront/wp-content/uploads/sites/3/2019/11/bg9.jpg?id=1446) !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            *background-color: rgb(5, 5, 5) !important;
        }

        .vc_custom_1574427615928 {
            background: rgba(0, 0, 0, 0.9) url(https://quattro.true-emotions.studio/black/PublicFront/wp-content/uploads/sites/3/2019/11/269.jpg?id=1456) !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            *background-color: rgb(0, 0, 0) !important;
        }

        .vc_custom_1574429938464 {
            background-color: #050505 !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }

        .vc_custom_1574427803863 {
            background: rgba(0, 0, 0, 0.9) url(https://quattro.true-emotions.studio/black/PublicFront/wp-content/uploads/sites/3/2019/11/269.jpg?id=1456) !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            *background-color: rgb(0, 0, 0) !important;
        }

        .vc_custom_1574427827951 {
            background: rgba(0, 0, 0, 0.9) url(https://quattro.true-emotions.studio/black/PublicFront/wp-content/uploads/sites/3/2019/11/269.jpg?id=1456) !important;
            *background-color: rgb(0, 0, 0) !important;
        }

        .vc_custom_1544643949891 {
            margin-top: -105px !important;
        }

        .vc_custom_1574429953506 {
            background-color: #050505 !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }

        .vc_custom_1574427900700 {
            background: rgba(0, 0, 0, 0.9) url(https://quattro.true-emotions.studio/black/PublicFront/wp-content/uploads/sites/3/2019/11/269.jpg?id=1456) !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            *background-color: rgb(0, 0, 0) !important;
        }

        .vc_custom_1574429971099 {
            background-color: #050505 !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }

        .vc_custom_1574430059407 {
            background: rgba(0, 0, 0, 0.9) url(https://quattro.true-emotions.studio/black/PublicFront/wp-content/uploads/sites/3/2019/11/269.jpg?id=1456) !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            *background-color: rgb(0, 0, 0) !important;
        }

        .vc_custom_1574430003080 {
            background-color: #050505 !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }

        .vc_custom_1574429985975 {
            background-color: #050505 !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }

        .vc_custom_1574430030277 {
            background-color: #050505 !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }

        .vc_custom_1545415062426 {
            margin-top: -17px !important;
            padding-right: 25px !important;
        }

        .vc_custom_1545415054109 {
            margin-top: -17px !important;
            padding-right: 15px !important;
            padding-left: 25px !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }

        .vc_custom_1547293331618 {
            margin-top: -100px !important;
            padding-top: 35px !important;
            padding-bottom: 35px !important;
            background-color: #dd3333 !important;
        }

        .vc_custom_1545064165788 {
            padding-right: 25px !important;
        }

        .vc_custom_1545411558272 {
            padding-left: 10px !important;
        }

        .vc_custom_1545410564261 {
            margin-bottom: 20px !important;
        }

        .vc_custom_1545410606360 {
            padding-right: 25px !important;
        }

        .vc_custom_1545410616866 {
            padding-left: 25px !important;
        }

        .vc_custom_1545411578572 {
            padding-right: 25px !important;
        }

        .vc_custom_1545411590067 {
            padding-left: 25px !important;
        }

        .vc_custom_1545064568742 {
            padding-right: 25px !important;
        }

        .vc_custom_1545064561746 {
            padding-left: 25px !important;
        }

        .vc_custom_1545241270927 {
            margin-top: -85px !important;
        }

        .vc_custom_1545413238782 {
            padding-left: 25px !important;
        }

        .vc_custom_1574428218890 {
            margin-right: 0px !important;
            margin-left: 0px !important;
            padding-right: 65px !important;
            padding-left: 65px !important;
            background: rgba(0, 0, 0, 0.9) url(https://quattro.true-emotions.studio/black/PublicFront/wp-content/uploads/sites/3/2019/11/269.jpg?id=1456) !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            *background-color: rgb(0, 0, 0) !important;
        }

        .vc_custom_1546001454388 {
            margin-bottom: 0px !important;
        }

        .vc_custom_1546001462965 {
            margin-bottom: 0px !important;
            padding-left: 20px !important;
        }
    </style>
    <link rel='dns-prefetch' href='http://maps.googleapis.com/' />
    <link rel='dns-prefetch' href='http://fonts.googleapis.com/' />
    <link rel="alternate" type="application/rss+xml" title="Quattro Black &raquo; Feed" href="feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Quattro Black &raquo; Comments Feed"
          href="comments/feed/index.html" />
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='fil-theme-fontawesome-css'
          href='~/PublicFront/wp-content/themes/quattro/fonts/fontawesome/css/fontawesome.minde54.css?ver=5.3' type='text/css'
          media='all' />
    <link rel='stylesheet' id='fil-theme-simple-css'
          href='~/PublicFront/wp-content/themes/quattro/fonts/simple/simple-line-iconsde54.css?ver=5.3' type='text/css' media='all' />
    <link rel='stylesheet' id='wp-block-library-css' href='~/PublicFront/wp-includes/css/dist/block-library/style.minde54.css?ver=5.3'
          type='text/css' media='all' />
    <link rel='stylesheet' id='nk-awb-css'
          href='~/PublicFront/wp-content/plugins/advanced-backgrounds/assets/awb/awb.min51a2.css?ver=1.6.1' type='text/css'
          media='all' />
    <link rel='stylesheet' id='wc-block-style-css'
          href='~/PublicFront/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/style747d.css?ver=2.4.5' type='text/css'
          media='all' />
    <link rel='stylesheet' id='contact-form-7-css'
          href='~/PublicFront/wp-content/plugins/contact-form-7/includes/css/stylesc6ac.css?ver=5.1.5' type='text/css' media='all' />
    <link rel='stylesheet' id='rs-plugin-settings-css'
          href='~/PublicFront/wp-content/plugins/revslider/public/assets/css/rs6b5e1.css?ver=6.1.5' type='text/css' media='all' />
    <style id='rs-plugin-settings-inline-css' type='text/css'>
        #rs-demo-id {
        }
    </style>
    <link rel='stylesheet' id='bodhi-svgs-attachment-css'
          href='~/PublicFront/wp-content/plugins/svg-support/css/svgs-attachmentde54.css?ver=5.3' type='text/css' media='all' />
    <link rel='stylesheet' id='woocommerce-layout-css'
          href='~/PublicFront/wp-content/plugins/woocommerce/assets/css/woocommerce-layout9e95.css?ver=3.8.0' type='text/css'
          media='all' />
    <link rel='stylesheet' id='woocommerce-smallscreen-css'
          href='~/PublicFront/wp-content/plugins/woocommerce/assets/css/woocommerce-smallscreen9e95.css?ver=3.8.0' type='text/css'
          media='only screen and (max-width: 768px)' />
    <link rel='stylesheet' id='woocommerce-general-css'
          href='~/PublicFront/wp-content/themes/quattro/assets/woocommerce/css/woocommerce9e95.css?ver=3.8.0' type='text/css'
          media='all' />
    <style id='woocommerce-inline-inline-css' type='text/css'>
        .woocommerce form .form-row .required {
            visibility: visible;
        }
    </style>
    <link rel='stylesheet' id='pixcars-css' href='~/PublicFront/wp-content/plugins/pix-cars/assets/css/pixcarsde54.css?ver=5.3'
          type='text/css' media='all' />
    <link rel='stylesheet' id='photoswipe-css'
          href='~/PublicFront/wp-content/plugins/woocommerce/assets/css/photoswipe/photoswipe9e95.css?ver=3.8.0' type='text/css'
          media='all' />
    <link rel='stylesheet' id='photoswipe-default-skin-css'
          href='~/PublicFront/wp-content/plugins/woocommerce/assets/css/photoswipe/default-skin/default-skin9e95.css?ver=3.8.0'
          type='text/css' media='all' />
    <link rel='stylesheet' id='widgetopts-styles-css'
          href='~/PublicFront/wp-content/plugins/widget-options/assets/css/widget-options.css' type='text/css' media='all' />
    <link rel='stylesheet' id='style-css' href='~/PublicFront/wp-content/themes/quattro/stylede54.css?ver=5.3' type='text/css'
          media='all' />

    <link rel='stylesheet' id='bootstrap-css'
          href='~/PublicFront/wp-content/themes/quattro/assets/bootstrap/bootstrap.minde54.css?ver=5.3' type='text/css' media='all' />
    <link rel='stylesheet' id='fontawesome-css'
          href='~/PublicFront/wp-content/themes/quattro/fonts/fontawesome/css/fontawesome.minde54.css?ver=5.3' type='text/css'
          media='all' />
    <link rel='stylesheet' id='simple-line-icons-css'
          href='~/PublicFront/wp-content/themes/quattro/fonts/simple/simple-line-iconsde54.css?ver=5.3' type='text/css' media='all' />
    <link rel='stylesheet' id='owl-carousel-css'
          href='~/PublicFront/wp-content/themes/quattro/assets/owl-carousel/owl.carousel.minde54.css?ver=5.3' type='text/css'
          media='all' />
    <link rel='stylesheet' id='magnific-popup-css'
          href='~/PublicFront/wp-content/themes/quattro/assets/magnific-popup/magnific-popupde54.css?ver=5.3' type='text/css'
          media='all' />
    <link rel='stylesheet' id='mCustomScrollbar-css'
          href='~/PublicFront/wp-content/themes/quattro/assets/jquery.mCustomScrollbar/jquery.mCustomScrollbar.minde54.css?ver=5.3'
          type='text/css' media='all' />
    <link rel='stylesheet' id='custom-select-css'
          href='~/PublicFront/wp-content/themes/quattro/assets/jquery-custom-select/css/jquery.custom-select.minde54.css?ver=5.3'
          type='text/css' media='all' />
    <link rel='stylesheet' id='pixtheme-main-css' href='~/PublicFront/wp-content/themes/quattro/css/mainde54.css?ver=5.3'
          type='text/css' media='all' />
    <link rel='stylesheet' id='pixtheme-responsive-css' href='~/PublicFront/wp-content/themes/quattro/css/responsivede54.css?ver=5.3'
          type='text/css' media='all' />
    <link rel='stylesheet' id='pixtheme-dynamic-styles-css'
          href='~/PublicFront/wp-admin/admin-ajax41f3.css?action=dynamic_styles&amp;pageID=106&amp;ver=5.3' type='text/css'
          media='all' />
    <!--[if lt IE 9]>
    <link rel='stylesheet' id='vc_lte_ie9-css'  href='https://quattro.true-emotions.studio/black/~/PublicFront/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.min.css?ver=6.0.5' type='text/css' media='screen' />
    <![endif]-->
    <link rel='stylesheet' id='js_composer_front-css'
          href='~/PublicFront/wp-content/plugins/js_composer/assets/css/js_composer.min52c7.css?ver=6.0.5' type='text/css'
          media='all' />
    <script type='text/javascript' src='~/PublicFront/wp-includes/js/jquery/jquery4a5f.js?ver=1.12.4-wp'></script>
    <script type='text/javascript' src='~/PublicFront/wp-includes/js/jquery/jquery-migrate.min330a.js?ver=1.4.1'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var pixcustomAjax = { "url": "https:\/\/quattro.true-emotions.studio\/black\/wp-admin\/admin-ajax.php", "nonce": "aa153099c6" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='~/PublicFront/wp-content/plugins/pix-settings/js/pixtheme-ajax68b3.js?ver=1'></script>
    <script type='text/javascript' src='~/PublicFront/wp-content/plugins/pix-settings/js/script.js'></script>
    <script type='text/javascript'
            src='~/PublicFront/wp-content/plugins/revslider/public/assets/js/revolution.tools.minf049.js?ver=6.0'></script>
    <script type='text/javascript'
            src='~/PublicFront/wp-content/plugins/revslider/public/assets/js/rs6.minb5e1.js?ver=6.1.5'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var SnazzyDataForSnazzyMaps = [];
        SnazzyDataForSnazzyMaps = { "id": 38, "name": "Shades of Grey", "description": "A map with various shades of grey. Great for a website with a really dark theme. ", "url": "https:\/\/snazzymaps.com\/style\/38\/shades-of-grey", "imageUrl": "https:\/\/snazzy-maps-cdn.azureedge.net\/assets\/38-shades-of-grey.png?v=20170626083726", "json": "[{\"featureType\":\"all\",\"elementType\":\"labels.text.fill\",\"stylers\":[{\"saturation\":36},{\"color\":\"#000000\"},{\"lightness\":40}]},{\"featureType\":\"all\",\"elementType\":\"labels.text.stroke\",\"stylers\":[{\"visibility\":\"on\"},{\"color\":\"#000000\"},{\"lightness\":16}]},{\"featureType\":\"all\",\"elementType\":\"labels.icon\",\"stylers\":[{\"visibility\":\"off\"}]},{\"featureType\":\"administrative\",\"elementType\":\"geometry.fill\",\"stylers\":[{\"color\":\"#000000\"},{\"lightness\":20}]},{\"featureType\":\"administrative\",\"elementType\":\"geometry.stroke\",\"stylers\":[{\"color\":\"#000000\"},{\"lightness\":17},{\"weight\":1.2}]},{\"featureType\":\"landscape\",\"elementType\":\"geometry\",\"stylers\":[{\"color\":\"#000000\"},{\"lightness\":20}]},{\"featureType\":\"poi\",\"elementType\":\"geometry\",\"stylers\":[{\"color\":\"#000000\"},{\"lightness\":21}]},{\"featureType\":\"road.highway\",\"elementType\":\"geometry.fill\",\"stylers\":[{\"color\":\"#000000\"},{\"lightness\":17}]},{\"featureType\":\"road.highway\",\"elementType\":\"geometry.stroke\",\"stylers\":[{\"color\":\"#000000\"},{\"lightness\":29},{\"weight\":0.2}]},{\"featureType\":\"road.arterial\",\"elementType\":\"geometry\",\"stylers\":[{\"color\":\"#000000\"},{\"lightness\":18}]},{\"featureType\":\"road.local\",\"elementType\":\"geometry\",\"stylers\":[{\"color\":\"#000000\"},{\"lightness\":16}]},{\"featureType\":\"transit\",\"elementType\":\"geometry\",\"stylers\":[{\"color\":\"#000000\"},{\"lightness\":19}]},{\"featureType\":\"water\",\"elementType\":\"geometry\",\"stylers\":[{\"color\":\"#000000\"},{\"lightness\":17}]}]", "views": 477339, "favorites": 1129, "createdBy": { "name": "Adam Krogh", "url": "https:\/\/twitter.com\/adamkrogh" }, "createdOn": "2013-11-12T18:21:41.94", "tags": ["dark", "greyscale"], "colors": ["black", "gray"] };
        /* ]]> */
    </script>
    <script type='text/javascript' src='~/PublicFront/wp-content/plugins/snazzy-maps/snazzymapsd279.js?ver=1.1.5'></script>
    <script type='text/javascript'
            src='~/PublicFront/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min44fd.js?ver=2.70'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var wc_add_to_cart_params = { "ajax_url": "\/black\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/black\/?wc-ajax=%%endpoint%%", "i18n_view_cart": "View cart", "cart_url": "https:\/\/quattro.true-emotions.studio\/black\/cart\/", "is_cart": "", "cart_redirect_after_add": "no" };
        /* ]]> */
    </script>
    <script type='text/javascript'
            src='~/PublicFront/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min9e95.js?ver=3.8.0'></script>
    <script type='text/javascript'
            src='~/PublicFront/wp-content/plugins/js_composer/assets/js/vendors/woocommerce-add-to-cart52c7.js?ver=6.0.5'></script>
    <script type='text/javascript'
            src='http://maps.googleapis.com/maps/api/js?key=AIzaSyAAChcJ6xYHmHRRTRMvt9GLCXeQG1qasV4&amp;ver=5.3'></script>
    <link rel='https://api.w.org/' href='wp-json/index.html' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="xmlrpc0db0.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="~/PublicFront/wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 5.3" />
    <meta name="generator" content="WooCommerce 3.8.0" />
    <link rel="canonical" href="index.html" />
    <link rel='shortlink' href='index.html' />
    <noscript>
        <style>
            .woocommerce-product-gallery {
                opacity: 1 !important;
            }
        </style>
    </noscript>
    <style type="text/css">
        .recentcomments a {
            display: inline !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>
    @RenderSection("mainCss",required:false)
    <meta name="generator" content="" />
    <meta name="generator"
          content="" />
    <script type="text/javascript">function setREVStartSize(t) { try { var h, e = document.getElementById(t.c).parentNode.offsetWidth; if (e = 0 === e || isNaN(e) ? window.innerWidth : e, t.tabw = void 0 === t.tabw ? 0 : parseInt(t.tabw), t.thumbw = void 0 === t.thumbw ? 0 : parseInt(t.thumbw), t.tabh = void 0 === t.tabh ? 0 : parseInt(t.tabh), t.thumbh = void 0 === t.thumbh ? 0 : parseInt(t.thumbh), t.tabhide = void 0 === t.tabhide ? 0 : parseInt(t.tabhide), t.thumbhide = void 0 === t.thumbhide ? 0 : parseInt(t.thumbhide), t.mh = void 0 === t.mh || "" == t.mh || "auto" === t.mh ? 0 : parseInt(t.mh, 0), "fullscreen" === t.layout || "fullscreen" === t.l) h = Math.max(t.mh, window.innerHeight); else { for (var i in t.gw = Array.isArray(t.gw) ? t.gw : [t.gw], t.rl) void 0 !== t.gw[i] && 0 !== t.gw[i] || (t.gw[i] = t.gw[i - 1]); for (var i in t.gh = void 0 === t.el || "" === t.el || Array.isArray(t.el) && 0 == t.el.length ? t.gh : t.el, t.gh = Array.isArray(t.gh) ? t.gh : [t.gh], t.rl) void 0 !== t.gh[i] && 0 !== t.gh[i] || (t.gh[i] = t.gh[i - 1]); var r, a = new Array(t.rl.length), n = 0; for (var i in t.tabw = t.tabhide >= e ? 0 : t.tabw, t.thumbw = t.thumbhide >= e ? 0 : t.thumbw, t.tabh = t.tabhide >= e ? 0 : t.tabh, t.thumbh = t.thumbhide >= e ? 0 : t.thumbh, t.rl) a[i] = t.rl[i] < window.innerWidth ? 0 : t.rl[i]; for (var i in r = a[0], a) r > a[i] && 0 < a[i] && (r = a[i], n = i); var d = e > t.gw[n] + t.tabw + t.thumbw ? 1 : (e - (t.tabw + t.thumbw)) / t.gw[n]; h = t.gh[n] * d + (t.tabh + t.thumbh) } void 0 === window.rs_init_css && (window.rs_init_css = document.head.appendChild(document.createElement("style"))), document.getElementById(t.c).height = h, window.rs_init_css.innerHTML += "#" + t.c + "_wrapper { height: " + h + "px }" } catch (t) { console.log("Failure at Presize of Slider:" + t) } };</script>
    <noscript>
        <style>
            .wpb_animate_when_almost_visible {
                opacity: 1;
            }
        </style>
    </noscript>
    <link href="~/Content/plugins/css/style.scss" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/plugins/css/style.css" />
</head>

<body class="home page-template page-template-page-home page-template-page-home-php page page-id-106 theme-quattro woocommerce-no-js pix-square pix-rounded-buttons pix-theme-tone-dark wpb-js-composer js-comp-ver-6.0.5 vc_responsive"
      data-scrolling-animations="true">


    <!-- Loader -->
    <div id="page-preloader">
        <div class="pix-pulse"></div>
    </div>
    <!-- Loader end -->





    <div class="wrapper layout animated-css page-layout-normal woo-layout-default">


        <header class="menu-mobile">
            <div class="row">
                <div class="col-12">
                    <div class="menu-mobile__header black">

                        <a class="navbar-brand scroll" href="index.html">
                            <img class="normal-logo" src="~/PublicFront/wp-content/themes/quattro/images/logo-w.svg" alt="Logo" />
                        </a>

                        <button class="hamburger hamburger--arrow js-mobile-toggle" type="button"
                                onclick="this.classList.toggle('is-active');">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>

                        <div class="cart-container">
                            <a href="cart/index.html">
                                <div class="pix-cart-items">
                                    <i class="fas fa-shopping-basket"></i>
                                    <span class="pix-cart-count">0</span>
                                </div>
                            </a>
                        </div>

                        <i class="fas fa-search js-search-toggle"></i>
                        <div class="search-container">
                            <div class="input-container"></div>
                        </div>

                        <ul class="header-socials">
                        </ul>

                    </div>
                    <div class="menu-mobile__list">
                        <div class="pix-mobile-menu-container">
                            <ul id="mobile-menu" class="menu">
                                <li id="menu-item-429"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-106 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-429 js-mobile-menu">
                                    <a href="index.html">Home</a>
                                </li>
                                <li id="menu-item-859"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-859">
                                    <a href="@Url.Action("About","Home")">About Us</a>
                                </li>
                                <li id="menu-item-430"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-430">
                                    <a href="@Url.Action("CarsListing","Home")">Cars Listing</a>
                                </li>
                                <li id="menu-item-437"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-437">
                                    <a href="shop/index.html">Shop</a>
                                </li>
                                <li id="menu-item-440"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-440">
                                    <a href="blog/index.html">Blog</a>
                                </li>
                                <li id="menu-item-877"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-877">
                                    <a href="@Url.Action("Contact","Home")">Contacts</a>
                                </li>
                            </ul>
                        </div>
                        <div class="overlay"></div>
                    </div>
                </div>
            </div>
        </header>
        <header class="pix-header black transparent sticky  ">


            <div class="container">

                <div class="menu-logo">
                    <a class="navbar-brand scroll" href="index.html" style="width:159px;">
                        <img class="pix-header-logo" src="~/PublicFront/wp-content/themes/quattro/images/logo.svg" alt="Logo" />
                    </a>
                </div>

                <nav class="pix-main-menu pix-text-center">
                    <ul id="menu-main" class="nav navbar-nav ">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-106 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-429 arrow">
                            <a href="index.html">Home</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-859">
                            <a href="about-us/index.html">About Us</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-430">
                            <a href="cars-listing/index.html">Cars Listing</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-437">
                            <a href="shop/index.html">Shop</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-440">
                            <a href="blog/index.html">Blog</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-877">
                            <a href="@Url.Action("Contact","Home")">Contacts</a>
                        </li>
                    </ul>
                </nav>

                <nav>
                    <ul class="main-menu-elements">

                        <li id="js-search-container" class="search">
                            <a><i class="fas fa-search"></i></a>
                        </li>

                        <li class="cart">
                            <a href="cart/index.html">
                                <div class="pix-cart-items">
                                    <i class="fas fa-shopping-basket"></i>
                                    <span class="pix-cart-count">0</span>
                                </div>
                            </a>
                        </li>

                    </ul>
                </nav>
                <div class="search-container">
                    <div class="input-container"></div>
                    <a class="pix-search-close"><i class="far fa-times-circle"></i></a>
                </div>
            </div>
        </header>
        @RenderBody()




        <!-- Footer section -->
        <footer class="pix-footer">
            <div class="container">


                <script>
                    jQuery(function ($) {
                        $("head").append("<style>.vc_custom_1574428868663{background: rgba(0,0,0,0.9) url(https://quattro.true-emotions.studio/black/wp-content/uploads/sites/3/2019/11/269.jpg?id=1456) !important;background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;*background-color: rgb(0,0,0) !important;}.vc_custom_1546617078790{background-color: #000000 !important;}.vc_custom_1541594039766{margin-top: -10px !important;}.vc_custom_1541591601759{margin-bottom: 0px !important;}.vc_custom_1541591475472{margin-bottom: 0px !important;}</style>");
                    });
                </script>
                <div data-vc-full-width="true" data-vc-full-width-init="false"
                     class="vc_row wpb_row vc_row-fluid pix-padding-top-xl pix-padding-bottom-m text-white-color text-shadow default vc_custom_1574428868663 vc_row-has-fill">
                    <span class="vc_row-overlay" style="background-color: rgba(0,0,0,0.9) !important;"></span>
                    <div class="wpb_column vc_column_container vc_col-sm-3">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="pix-section-title pix-l text-left default">

                                    <h2 class="pix-title-h2  ">About Us<span class="sep-element"></span></h2>

                                </div>

                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <p>
                                            Address: 685 Lane Drive St. California, Auto club 33020<br />
                                            Phone: +010 234 7892 34<br />
                                            Fax: +010 234 7892 34<br />
                                            E-mail: <a href="mailto:info@quattro.com">info@quattro.com</a>
                                        </p>

                                    </div>
                                </div>
                                <div class="vc_row wpb_row vc_inner vc_row-fluid pix-top-no-padding pix-bottom-no-padding default vc_custom_1541594039766">
                                    <div class="wpb_column vc_column_container vc_col-sm-2 vc_col-xs-2">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="pix-square ">
                                                    <div class="pix-ibox-side pix-text-review-left">
                                                        <div class="pix-overlay pix-color"></div>
                                                        <div class="pix-block-content">
                                                            <div class="round pix-icon-s pix-icon-color ">
                                                                <div class="icon">
                                                                    <span class="icon-social-youtube"></span>
                                                                </div>
                                                            </div>
                                                            <div class="text pix-top">



                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-2 vc_col-xs-2">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="pix-square ">
                                                    <div class="pix-ibox-side pix-text-review-left">
                                                        <div class="pix-overlay pix-color"></div>
                                                        <div class="pix-block-content">
                                                            <div class="round pix-icon-s pix-icon-color ">
                                                                <div class="icon">
                                                                    <span class="icon-social-facebook"></span>
                                                                </div>
                                                            </div>
                                                            <div class="text pix-top">



                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-2 vc_col-xs-2">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="pix-square ">
                                                    <div class="pix-ibox-side pix-text-review-left">
                                                        <div class="pix-overlay pix-color"></div>
                                                        <div class="pix-block-content">
                                                            <div class="round pix-icon-s pix-icon-color ">
                                                                <div class="icon">
                                                                    <span class="icon-social-twitter"></span>
                                                                </div>
                                                            </div>
                                                            <div class="text pix-top">



                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-2 vc_col-xs-2">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="pix-square ">
                                                    <div class="pix-ibox-side pix-text-review-left">
                                                        <div class="pix-overlay pix-color"></div>
                                                        <div class="pix-block-content">
                                                            <div class="round pix-icon-s pix-icon-color ">
                                                                <div class="icon">
                                                                    <span class="icon-social-instagram"></span>
                                                                </div>
                                                            </div>
                                                            <div class="text pix-top">



                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-2 vc_hidden-xs">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper"></div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-2 vc_hidden-xs">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-2 vc_hidden-xs">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="vc_empty_space" style="height: 95px">
                                    <span class="vc_empty_space_inner"></span>
                                </div>
                                <div class="vc_wp_custommenu wpb_content_element">
                                    <div class="widget widget_nav_menu">
                                        <div class="menu-footer-container">
                                            <ul id="menu-footer" class="menu">
                                                <li id="menu-item-1350"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-106 current_page_item menu-item-1350">
                                                    <a href="index.html" aria-current="page">Home</a>
                                                </li>
                                                <li id="menu-item-1347"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1347">
                                                    <a href="about-us/index.html">About Us</a>
                                                </li>
                                                <li id="menu-item-1351"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1351">
                                                    <a href="cars-listing/index.html">Cars Listing</a>
                                                </li>
                                                <li id="menu-item-1349"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1349">
                                                    <a href="shop/index.html">Shop</a>
                                                </li>
                                                <li id="menu-item-1348"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1348">
                                                    <a href="blog/index.html">Blog</a>
                                                </li>
                                                <li id="menu-item-1346"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1346">
                                                    <a href="contacts/index.html">Contacts</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-4">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="pix-section-title pix-l text-left default">

                                    <h2 class="pix-title-h2  ">News<span class="sep-element"></span></h2>

                                </div>
                                <div class="wpb_widgetised_column wpb_content_element">
                                    <div class="wpb_wrapper">

                                        <div id="pixtheme_latest_news-2"
                                             class="widget_pixtheme_latest_news pix-sidebar-box widget">
                                            <div class="pix-sidebar-form">
                                                <div class="pix-sidebar-box-title">
                                                    <h3 class="pix-h3">Latest News<span class="sep-element"></span></h3>
                                                </div>
                                                <div class="side-menu__item-news">
                                                    <div class="news-image">
                                                        <span class="time">
                                                            <a href="2018/11/11/ullamcorper-amet-feugiat-wisi-id-metus-ultrices-mauris-in-mattis/index.html">
                                                                November
                                                                11, 2018
                                                            </a>
                                                        </span>
                                                    </div>
                                                    <div class="news-text">
                                                        <a href="2018/11/11/ullamcorper-amet-feugiat-wisi-id-metus-ultrices-mauris-in-mattis/index.html">
                                                            Ullamcorper
                                                            amet feugiat wisi id metus, ultrices mauris in mattis
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="side-menu__item-news">
                                                    <div class="news-image">
                                                        <span class="time">
                                                            <a href="2018/11/11/facilisis-ut-condimentum-condimentum-lectus/index.html">
                                                                November
                                                                11, 2018
                                                            </a>
                                                        </span>
                                                    </div>
                                                    <div class="news-text">
                                                        <a href="2018/11/11/facilisis-ut-condimentum-condimentum-lectus/index.html">
                                                            Facilisis
                                                            ut condimentum condimentum lectus
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="side-menu__item-news">
                                                    <div class="news-image">
                                                        <span class="time">
                                                            <a href="2018/09/24/sapien-enim-curabitur-etiam-ultricies-consectetuer-sit/index.html">
                                                                September
                                                                24, 2018
                                                            </a>
                                                        </span>
                                                    </div>
                                                    <div class="news-text">
                                                        <a href="2018/09/24/sapien-enim-curabitur-etiam-ultricies-consectetuer-sit/index.html">
                                                            Sapien
                                                            enim curabitur etiam ultricies consectetuer sit
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-3">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="pix-section-title pix-l text-left default">

                                    <h2 class="pix-title-h2  ">Question<span class="sep-element"></span></h2>

                                </div>
                                <div class="pix-square pix-text-left">
                                    <div role="form" class="wpcf7" id="wpcf7-f603-o2" lang="en-US" dir="ltr">
                                        <div class="screen-reader-response"></div>
                                        <form action="https://quattro.true-emotions.studio/black/#wpcf7-f603-o2"
                                              method="post" class="wpcf7-form" novalidate="novalidate">
                                            <div style="display: none;">
                                                <input type="hidden" name="_wpcf7" value="603" />
                                                <input type="hidden" name="_wpcf7_version" value="5.1.5" />
                                                <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f603-o2" />
                                                <input type="hidden" name="_wpcf7_container_post" value="0" />
                                            </div>
                                            <div class="pix-question-form">
                                                <div class="row">
                                                    <div class="col-xl-12 col-md-6">
                                                        <div class="form-group">
                                                            <span class="wpcf7-form-control-wrap Name">
                                                                <input type="text" name="Name" value="" size="40"
                                                                       class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required pix-question-input"
                                                                       aria-required="true" aria-invalid="false"
                                                                       placeholder="Name*" />
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-12 col-md-6">
                                                        <div class="form-group">
                                                            <span class="wpcf7-form-control-wrap Phone">
                                                                <input type="tel" name="Phone" value="" size="40"
                                                                       class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-tel pix-question-input"
                                                                       aria-invalid="false" placeholder="Phone" />
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <span class="wpcf7-form-control-wrap Message">
                                                                <textarea name="Message" cols="40" rows="10"
                                                                          class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required pix-question-input"
                                                                          aria-required="true" aria-invalid="false"
                                                                          placeholder="Enter message"></textarea>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="pix-submit-holder-2">
                                                            <input type="submit" value="send"
                                                                   class="wpcf7-form-control wpcf7-submit pix-button pix-v-xs" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wpcf7-response-output wpcf7-display-none"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vc_row-full-width vc_clearfix"></div>
                <div data-vc-full-width="true" data-vc-full-width-init="false"
                     class="vc_row wpb_row vc_row-fluid pix-padding-top-m pix-padding-bottom-m default vc_custom_1546617078790 vc_row-has-fill">
                    <div class="wpb_column vc_column_container vc_col-sm-4">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="wpb_text_column wpb_content_element  vc_custom_1541591601759">
                                    <div class="wpb_wrapper">
                                        <p>
                                            <span style="color: #ffffff;">© 2008–2019</span> <span style="color: #bbbbbb;">Rutrum ante tempus</span>
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-8">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="wpb_text_column wpb_content_element  vc_custom_1541591475472">
                                    <div class="wpb_wrapper">
                                        <div class="pix-footer-bottom-menu">
                                            <p style="text-align: right;">
                                                <span style="color: #bbbbbb;">
                                                    <a style="color: #bbbbbb;" href="#">User agreement</a> <a style="color: #bbbbbb;" href="#">Request</a> <a style="color: #bbbbbb;" href="#">Ask a question</a> <a style="color: #bbbbbb;" href="#">Offer an idea</a>
                                                </span>
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vc_row-full-width vc_clearfix"></div>


            </div>
        </footer>
    </div>

    <script>
        (function () {
            function addEventListener(element, event, handler) {
                if (element.addEventListener) {
                    element.addEventListener(event, handler, false);
                } else if (element.attachEvent) {
                    element.attachEvent('on' + event, handler);
                }
            } function maybePrefixUrlField() {
                if (this.value.trim() !== '' && this.value.indexOf('http') !== 0) {
                    this.value = "http://" + this.value;
                }
            }

            var urlFields = document.querySelectorAll('.mc4wp-form input[type="url"]');
            if (urlFields && urlFields.length > 0) {
                for (var j = 0; j < urlFields.length; j++) {
                    addEventListener(urlFields[j], 'blur', maybePrefixUrlField);
                }
            }/* test if browser supports date fields */
            var testInput = document.createElement('input');
            testInput.setAttribute('type', 'date');
            if (testInput.type !== 'date') {

                /* add placeholder & pattern to all date fields */
                var dateFields = document.querySelectorAll('.mc4wp-form input[type="date"]');
                for (var i = 0; i < dateFields.length; i++) {
                    if (!dateFields[i].placeholder) {
                        dateFields[i].placeholder = 'YYYY-MM-DD';
                    }
                    if (!dateFields[i].pattern) {
                        dateFields[i].pattern = '[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])';
                    }
                }
            }

        })();</script>

    <script type="text/javascript">
        var c = document.body.className;
        c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
        document.body.className = c;
    </script>
    <script type="text/javascript">
        if (typeof revslider_showDoubleJqueryError === "undefined") {
            function revslider_showDoubleJqueryError(sliderID) {
                var err = "<div class='rs_error_message_box'>";
                err += "<div class='rs_error_message_oops'>Oops...</div>";
                err += "<div class='rs_error_message_content'>";
                err += "You have some jquery.js library include that comes after the Slider Revolution files js inclusion.<br>";
                err += "To fix this, you can:<br>&nbsp;&nbsp;&nbsp; 1. Set 'Module General Options' -> 'Advanced' -> 'jQuery & OutPut Filters' -> 'Put JS to Body' to on";
                err += "<br>&nbsp;&nbsp;&nbsp; 2. Find the double jQuery.js inclusion and remove it";
                err += "</div>";
                err += "</div>";
                jQuery(sliderID).show().html(err);
            }
        }
    </script>
    <link rel='stylesheet' id='vc_animate-css-css'
          href='~/PublicFront/wp-content/plugins/js_composer/assets/lib/bower/animate-css/animate.min52c7.css?ver=6.0.5' type='text/css'
          media='all' />
    <script type='text/javascript'
            src='~/PublicFront/wp-content/plugins/advanced-backgrounds/assets/vendor/jarallax/jarallax.min4d85.js?ver=1.12.0'></script>
    <script type='text/javascript'
            src='~/PublicFront/wp-content/plugins/advanced-backgrounds/assets/vendor/jarallax/jarallax-video.min4d85.js?ver=1.12.0'></script>
    <script type='text/javascript'
            src='~/PublicFront/wp-content/plugins/advanced-backgrounds/assets/vendor/object-fit-images/ofi.mine1e3.js?ver=3.2.4'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var AWBData = { "settings": { "disable_parallax": [], "disable_video": [], "full_width_fallback": true } };
        /* ]]> */
    </script>
    <script type='text/javascript'
            src='~/PublicFront/wp-content/plugins/advanced-backgrounds/assets/awb/awb.min51a2.js?ver=1.6.1'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var wpcf7 = { "apiSettings": { "root": "https:\/\/quattro.true-emotions.studio\/black\/wp-json\/contact-form-7\/v1", "namespace": "contact-form-7\/v1" }, "cached": "1" };
        /* ]]> */
    </script>
    <script type='text/javascript'
            src='~/PublicFront/wp-content/plugins/contact-form-7/includes/js/scriptsc6ac.js?ver=5.1.5'></script>
    <script type='text/javascript'
            src='~/PublicFront/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min6b25.js?ver=2.1.4'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var woocommerce_params = { "ajax_url": "\/black\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/black\/?wc-ajax=%%endpoint%%" };
        /* ]]> */
    </script>
    <script type='text/javascript'
            src='~/PublicFront/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min9e95.js?ver=3.8.0'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var wc_cart_fragments_params = { "ajax_url": "\/black\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/black\/?wc-ajax=%%endpoint%%", "cart_hash_key": "wc_cart_hash_652e191e73ac0d942dadee1b694f1f61", "fragment_name": "wc_fragments_652e191e73ac0d942dadee1b694f1f61", "request_timeout": "5000" };
        /* ]]> */
    </script>
    <script type='text/javascript'
            src='~/PublicFront/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min9e95.js?ver=3.8.0'></script>
    <script type='text/javascript'
            src='~/PublicFront/wp-content/plugins/woocommerce/assets/js/photoswipe/photoswipe.min0235.js?ver=4.1.1'></script>
    <script type='text/javascript'
            src='~/PublicFront/wp-content/plugins/woocommerce/assets/js/photoswipe/photoswipe-ui-default.min0235.js?ver=4.1.1'></script>
    <script type='text/javascript' src='~/PublicFront/wp-content/plugins/pix-cars/assets/scripts/PhotoSwipe/jqPhotoSwipe.js'></script>
    <script type='text/javascript'
            src='~/PublicFront/wp-content/plugins/pix-cars/assets/scripts/html2canvas/html2canvas.min.js'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var pixcarsAjax = { "url": "https:\/\/quattro.true-emotions.studio\/black\/wp-admin\/admin-ajax.php", "nonce": "84accfe452" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='~/PublicFront/wp-content/plugins/pix-cars/assets/js/pixcars.js'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var pixcars_reserv_Ajax = { "url": "https:\/\/quattro.true-emotions.studio\/black\/wp-admin\/admin-ajax.php", "nonce_reserv": "4005e80a6d", "reserv_sticker": "Booked" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='~/PublicFront/wp-content/plugins/pix-cars/assets/js/pixcars_reserv.js'></script>
    <script type='text/javascript' src='~/PublicFront/wp-includes/js/jquery/ui/core.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript' src='~/PublicFront/wp-includes/js/jquery/ui/widget.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript' src='~/PublicFront/wp-includes/js/jquery/ui/mouse.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript' src='~/PublicFront/wp-includes/js/jquery/ui/slider.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript'
            src='~/PublicFront/wp-content/themes/quattro/assets/jquery-ui-touch-punch-master/jquery.ui.touch-punch.min.js'></script>
    <script type='text/javascript' src='~/PublicFront/wp-content/themes/quattro/assets/bootstrap/bootstrap.min.js'></script>
    <script type='text/javascript' src='~/PublicFront/wp-content/themes/quattro/js/jquery.placeholder.min.js'></script>
    <script type='text/javascript' src='~/PublicFront/wp-content/themes/quattro/assets/owl-carousel/owl.carousel.min.js'></script>
    <script type='text/javascript' src='~/PublicFront/wp-content/themes/quattro/assets/smoothscroll/SmoothScroll.js'></script>
    <script type='text/javascript'
            src='~/PublicFront/wp-content/plugins/js_composer/assets/lib/bower/isotope/dist/isotope.pkgd.min52c7.js?ver=6.0.5'></script>
    <script type='text/javascript' src='~/PublicFront/wp-includes/js/imagesloaded.min55a0.js?ver=3.2.0'></script>
    <script type='text/javascript' src='~/PublicFront/wp-content/themes/quattro/assets/wow/wow.min.js'></script>
    <script type='text/javascript'
            src='~/PublicFront/wp-content/themes/quattro/assets/easypiechart/jquery.easypiechart.min.js'></script>
    <script type='text/javascript'
            src='~/PublicFront/wp-content/themes/quattro/assets/magnific-popup/jquery.magnific-popup.min.js'></script>
    <script type='text/javascript'
            src='~/PublicFront/wp-content/themes/quattro/assets/jquery.mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js'></script>
    <script type='text/javascript'
            src='~/PublicFront/wp-content/themes/quattro/assets/jquery-custom-select/js/jquery.custom-select.js'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var pix_js_vars = { "search_form": "\r\n\t<form method=\"get\" id=\"searchform\" class=\"searchform\" action=\"https:\/\/quattro.true-emotions.studio\/black\">\r\n\t\t<div>\r\n\t\t\t<input type=\"text\" placeholder=\"Search\" value=\"\" name=\"s\" id=\"search\">\r\n\t\t\t<input type=\"submit\" id=\"searchsubmit\" value=\"\">\r\n\t\t<\/div>\r\n\t<\/form>" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='~/PublicFront/wp-content/themes/quattro/js/theme.js'></script>
    <script type='text/javascript'>
        jQuery(function ($) { $("head").append("<style>.pix-top-offset_1464470471.pix-row-overflow{z-index:1;top:;;}</style>"); });

        jQuery(function ($) {
            $("head").append("<style> .vc_custom_1574429827645 .section-heading.white-heading .sep-element:after{ background: #050505;}</style>");
        });

        jQuery(function ($) {
            $("head").append("<style> .vc_custom_1574429858156 .section-heading.white-heading .sep-element:after{ background: #050505;}</style>");
        });
        jQuery("head").append("<style> .pix_video_1849113540{background: url(https://quattro.true-emotions.studio/black/~/PublicFront/wp-content/uploads/sites/3/2018/11/automobile2-1024x708.jpg) no-repeat 50% 50%;display:grid;position:relative;height:440px}.pix_video_1849113540 .pix-video{background-color:rgba(0,0,0,0.10)}</style>");

        jQuery(function ($) {
            $("head").append("<style> .vc_custom_1574429938464 .section-heading.white-heading .sep-element:after{ background: #050505;}</style>");
        });
        jQuery(function ($) { $("head").append("<style>.pix-top-offset_1333724070.pix-row-overflow{z-index:1;top:;;}</style>"); });

        jQuery(function ($) {
            $("head").append("<style> .vc_custom_1574429953506 .section-heading.white-heading .sep-element:after{ background: #050505;}</style>");
        });

        jQuery(function ($) {
            $("head").append("<style> .vc_custom_1574429971099 .section-heading.white-heading .sep-element:after{ background: #050505;}</style>");
        });

        jQuery(function ($) {
            $("head").append("<style> .vc_custom_1574430003080 .section-heading.white-heading .sep-element:after{ background: #050505;}</style>");
        });
        jQuery(function ($) { $("head").append("<style>.pix-top-offset_1621028024.pix-row-overflow{z-index:1;top:;;}</style>"); });

        jQuery(function ($) {
            $("head").append("<style> .vc_custom_1574429985975 .section-heading.white-heading .sep-element:after{ background: #050505;}</style>");
        });
        jQuery(function ($) { $("head").append("<style>.pix-top-offset_433737972.pix-row-overflow{z-index:1;top:80px;}</style>"); });
        jQuery("head").append("<style> #pix-map{width:100%;height:700px}</style>");

        jQuery(function ($) {
            $("head").append("<style> .vc_custom_1574430030277 .section-heading.white-heading .sep-element:after{ background: #050505;}</style>");
        });

        jQuery(function ($) {
            $("head").append("<style> .vc_custom_1546617078790 .section-heading.white-heading .sep-element:after{ background: #000000;}</style>");
        });
    </script>
    @*<script src="~/Scripts/jquery-3.3.a1.min.js"></script>*@
    @RenderSection("mainJs", required: false)

    <script src="~/Content/plugins/slick.min.js"></script>
    <script type='text/javascript'
            src='~/PublicFront/wp-content/plugins/js_composer/assets/js/dist/js_composer_front.min52c7.js?ver=6.0.5'></script>
    <script type='text/javascript'
            src='~/PublicFront/wp-content/plugins/js_composer/assets/lib/vc_waypoints/vc-waypoints.min52c7.js?ver=6.0.5'></script>
    @*<script src="~/Content/plugins/js/app.js"></script>*@


</body>

</html>